*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

.row{
    height: 150px;
    justify-content: space-between;
    display: flex;
    padding: 0 2%;
    background-color: aqua;
    text-align: center;
}
.col a{
    display: inline-block;
    margin: 10% 0;
    list-style: none;
    color: #000;
    text-decoration: none;
}
.rowe{
    margin: 52% 0 auto;
    display: flex;
}
.rowr{
    margin: 1% auto;
    display: flex;
}
button{
    width: 20%;
    background-color: white;
    color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 12px;
    margin: 20% auto;
    justify-content: center;
}